---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
// Para agregar los neuvos posts dinamicamente
const allPosts = await Astro.glob("./posts/*.md");

const pageTitle = "My Astro Learning Blog";
---

<!-- Ruta http://localhost:4321/blog --><!-- Aca se llaman las variables Javascript o Typescript con {} -->
<BaseLayout pageTitle={pageTitle}>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        <!-- Aca se redirige a los posts .md -->
        {
            allPosts.map((post) => (
                <BlogPost url={post.url} title={post.frontmatter.title} />
            ))
        }
    </ul>
</BaseLayout>
